{% extends "main.html.twig" %}

{% block title %}Racoin - {{title}}{% endblock %}

{% block css %}<link href="../css/article.css" media="screen, projection" rel="stylesheet" type="text/css" />{% endblock %}

{% block header %}
	{% include "header.html" %}
{% endblock %}

{% block aside %}
    {% include "aside.html" %}
{% endblock %}

{% block content %}
    <h3>{{categorie}} : {{titre}}</h3>
    <article>
    	<div id="img">
    	{% if images %}
      		<img src="{{images|first}}" alt="image" id="grandeImage"/><br/>
      		<div id="miniatures">
      			{% for img in images %}
      				<img src="{{img}}" alt="image" title="Cliquez pour agrandir l'image"/>
      			{% endfor %}
      		</div>
    	</div>
		{% endif %}
		<div id="descr">
	        <h4>Description :</h4>
	        <p>{{descriptif|raw}}</p>
        </div>
     </article>
     
     <article>
        <h4>Coordonnées de l'annonceur :</h4>   
                        
        <ul>
            <li><span>- Nom : </span>{{prenom}} {{nom}}</li>
            <li><span>- Email : </span><a href="mailto:{{email}}">{{email}}</a></li>
            <li><span>- Téléphone : </span>{{telephone}}</li>
            <li><span>- Adresse : </span>{{adresse}} - {{code_postal}} {{ville}}</li>
        </ul> 
    </article>
    <h4 class="prix">Prix annoncé : {{prix}} € <a href="mailto:{{email}}">Contacter</a></h4>
{% endblock %}

{% block footer %}
	<div>Vous êtes l'annonceur ?</div>
	<div>
		<input type="password" name="MotDePasse" value="" placeholder="Mot de passe"  />
		<input type="button" name="Modifier l'annonce" value="Modifier l'annonce" placeholder="Modifier l'annonce"  />
		<input type="button" name="Supprimer l'annonce" value="Supprimer l'annonce" placeholder="Supprimer l'annonce"  />
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="../js/slide-images.js"></script>
{% endblock %}
