{# Home.html.twig #}
{% extends "General.html.twig" %}

{% block contenu %}
	<div class="resultat container">
		<ul>
                    {% for photo in photos %}
			
                    <li class="photo case"><h2>{{photo.libelle}}</h2><img class="images" src="{{photo.url}}" /><div class="selected"><img src="images/loupe.svg" /></div><h3>album : </h3><div class="description_photo">{{photo.description}}</div></li>
                    {% endfor %}
                    {% for album in albums %}
		    <li class="album case" onclick="affichagePhoto({{album.idAlbum}},this)">
                    {% if session.idUtil == album.idUtil %}
                            <div id="x" class="supp_plus" onclick="suppAlbum({{album.idAlbum}},this);">X</div>
                    {% elseif session.user is not empty %}
                            <div id="plus" class="supp_plus" >+</div>
                    {% endif %}
                            <h2>{{album.libelle}}</h2>
                           <img class="images" src="images/01.jpg" /><div class="selected"><img src="images/loupe.svg" /></div>
                        </li>
		    {% endfor %}	
			
			 
		</ul>
		<div style="clear: both;"></div>
	</div>
	{% if session.user is empty %}
        {% else %}
	{% include 'AjoutAlbum_ListePhoto.html.twig' %}
        {% endif %}

{% endblock %}
