{# Home.html.twig #}
{% extends "General.html.twig" %}

{% block contenu %}
	<div class="resultat container">
		<ul>
                    {% for photo in photos %}
			
                    <li class="photo case"><img class="images" src="{{photo.url}}" /><div class="selected"><img src="images/loupe.svg" /></div><h2>{{photo.libelle}}</h2><h3>album : </h3><div class="description_photo">{{photo.description}}</div></li>
                    {% endfor %}
                    {% for album in albums %}
		    <li class="album case" onclick="affichagePhoto({{album.idAlbum}},this)"><img class="images" src="images/01.jpg" /><div class="selected"><img src="images/loupe.svg" /></div>
                        {% if session.idUtil == album.idUtil %}
                            <li id="x" onclick="affichageDelete({{album.idAlbum}},this)"><a href="#">X</a></li>
                    {% else %}
                            <li id="plus" onclick="ajoutAbonnement({{album.idAlbum}},this)"><a href="#">+</a></li>
                    {% endif %}<h2>{{album.libelle}}</h2></li>
		    {% endfor %}	
			
			 
		</ul>
		<div style="clear: both;"></div>
	</div>
	{% if session.user is empty %}
        {% else %}
	{% include 'AjoutAlbum_ListePhoto.html.twig' %}
        {% endif %}

{% endblock %}
